<form class="form" [formGroup]="form()" (ngSubmit)="onSubmit()">
  <div class="container mt-5" style="max-width: 400px">
    <div class="form-group mb-3">
      <label class="form-label" for="username">Username</label>
      <input
        class="form-control"
        type="text"
        id="username"
        placeholder="Enter Your Username"
        formControlName="username"
        [class.is-invalid]="isInvalid()('username')"
      />
      @if (isInvalid()("username")) {
        <div class="invalid-feedback">
          <strong>Username is invalid:</strong>
          <ul>
            <li>Field is required</li>
            <li>shouldn't contain special characters</li>
            <li>must be between 3 and 20 characters long</li>
          </ul>
        </div>
      }
    </div>

    <div class="form-group mb-3">
      <label class="form-label" for="email">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        placeholder="Enter Your Email"
        formControlName="email"
        [class.is-invalid]="isInvalid()('email')"
      />
      @if (isInvalid()("email")) {
        <div class="invalid-feedback">
          <strong>Email is invalid:</strong>
          <ul>
            <li>Field is required</li>
            <li>must be a valid email address</li>
          </ul>
        </div>
      }
    </div>

    <div class="form-group mb-3">
      <label class="form-label" for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        placeholder="Enter Your Password"
        formControlName="password"
        [class.is-invalid]="isInvalid()('password')"
      />
      @if (isInvalid()("password")) {
        <div class="invalid-feedback">
          <strong>Password is invalid:</strong>
          <ul>
            <li>Must Enter Your Password</li>
            <li>Password must be at least 5 characters long</li>
            <li>
              Password must contain at least one uppercase letter, one lowercase
              letter, and one number
            </li>
          </ul>
        </div>
      }
    </div>

    <div class="form-group mb-3">
      <label class="form-label" for="confirmPassword">Confirm Password</label>
      <input
        class="form-control"
        type="password"
        id="confirmPassword"
        placeholder="Confirm Your Password"
        formControlName="confirmPassword"
      />
    </div>

    @if (isPasswordMismatch()) {
      <div class="text-danger mb-3">Passwords do not match</div>
    }

    <button class="btn btn-primary w-100" [disabled]="form().invalid">
      Register
    </button>
  </div>
</form>
